/*~~~~~~~ COLORS~~~~~~~*/
/*
navy-blue: #034687;
blue-gray: #738FA7;
misty-blue: #C3CEDA;
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

:root{
  --color-primary: #646C6C;
  --color-secondary: #D3E3E3;
  --color-accent: #CE401F;;

  --color-content-font: #13100F;
}

body {
  font-family: 'Baloo Paaji 2', cursive;
  background-color: #fff;
  color: var(--color-content-font);
}

.page-wrapper { position: relative; justify-content: space-between; }

.section-explore, .section-gallery{  padding: 2em; }

.section-alert{  margin: 2em; }

.alert__bar{ 
  background-color: #fff3cd; 
  color:var(--color-accent);
  border-radius: .2em; 
  border: 1px solid rgba(206, 63, 31, 0.342);;
  padding: .6em;

  justify-content: space-between;
  align-items: center;
}

.alert__bar-img{ max-width: 1.5em; height: 1.5em; flex-basis: 5%;}

.alert__bar-content{ flex-basis: 95%; margin: 0;}
/*~~~~~~~~~~~~~~*/
/* Common classes   */
/*~~~~~~~~~~~~~~*/
.img-block { display: block;}

.hidden{ display: none; }

.text-center{ text-align: center;}

.row{ display: flex;  justify-content: space-between;}

.column{ display: flex; flex-direction: column; } 

.heading { font-size: 1.8em; text-transform: capitalize; margin-bottom: .5em; color:var(--color-primary);}

.title { text-transform: capitalize; color:var(--color-primary); font-size: 1.2em;}

.btn-readmore{ 
  border: 0;
  border-radius: .2em; 
  background-color: var(--color-accent); 
  color: #fff; 
  padding: .6em 2em;}


