/*~~~~~~~ COLORS~~~~~~~
.testing{ color:#98AAB0; color:#F5F7F7; color:#469BB4; color:#A7C4CD; color:#2B2B31; color:#4F6D98; }
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
  --color-primary:  #F5F7F7;
  --color-secondary: #4F6D98;
  --color-accent: #469BB4;

  --color-content-font: #2B2B31;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
  color: var(--color-content-font);
  line-height: 2em;
} 

.page-wrapper { position: relative; justify-content: space-between; }

.alert__bar{ 
  background-color: #fff3cd; 
  color:#ce3f1f;
  border-radius: .2em; 
  border: 1px solid rgba(206, 63, 31, 0.342);
  padding: .6em;

  justify-content: space-between;
  align-items: center;
}

.alert__bar-img{ max-width: 1.5em; height: 1.5em; flex-basis: 5%;}

.alert__bar-content{ flex-basis: 95%; margin: 0;}

/*~~~~~~~~~~~~~~*/
/* SCROLLBAR  */
/*~~~~~~~~~~~~~~*/
/*total width of scroll bar*/
::-webkit-scrollbar{ width: 8px;}

/* color of track */
::-webkit-scrollbar-track{ background-color: var(--color-primary); }
  
/* scrollbar */
::-webkit-scrollbar-thumb{ background-color: var(--color-accent); }

/* scrollbar hover*/
::-webkit-scrollbar-thumb:hover{ background-color: var(--color-secondary); }

/*~~~~~~~~~~~~~~*/
/* Common classes   */
/*~~~~~~~~~~~~~~*/
.row{ display: flex;  justify-content: space-between;}
.column{ display: flex; flex-direction: column; } 

.img-block { display: block;}

.hidden{ display: none; }
.visibilty-hidden { visibility: hidden !important;}

.text-center{ text-align: center;}
.font-size-sm{ font-size: 1.1em;}

.margin-0{ margin:0; }
.margin-1em{ margin:  1em; }
.margin-bottom-2em{ margin-bottom: 2em;}
.margin-top{ margin-top: auto;}

.padding-2em{ padding: 2em;}
.padding-right-2em{ padding-right: 2em; }

.border-radius-xthin{ border-radius: .2em; }

.heading { font-size: 1.8em; text-transform: capitalize; margin-bottom: 1.5em; color:var(--color-secondary);}

.title { text-transform: capitalize; color:var(--color-secondary); font-size: 1.2em;}

.btn-explore{ color:var(--color-accent); transition: all 0.3s ease-in-out 0s;}
.btn-explore:hover{ color:var(--color-secondary); }

.transition-all-ease-in-out{
  transition: all 0.7s ease-in-out 0s;
  -webkit-transition: all 0.7s ease-in-out 0s;
  -moz-transition: all 0.7s ease-in-out 0s;
  -ms-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
}