/*~~~~~~~~~~~~~~*/
/*   SIDE BAR   */
/*~~~~~~~~~~~~~~*/
.header-sidebar{
    background-color: var(--color-primary);
    border-right: .02em solid rgba(79, 109, 152, 0.63);
    color: var(--color-secondary);
  
    flex-basis: 20%;
    height: 100vh;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  .header-sidebar__col{ 
    height: 95%;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  /*~~~~~~~~~~~~~~*/
/*   LOGO  */
/*~~~~~~~~~~~~~~*/
  .logo-box{
    background-color: rgba(79, 109, 152, 0.63);
    max-width: 40%;
    height: 60%;
    margin: 0 auto;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;

    justify-content: center;
    align-content: center;
}
  
  .logo-image{ max-width: 4em; padding: .5em;}

  .header-logo__title{text-transform: uppercase; letter-spacing: .3em; word-spacing: .4em; font-size: 1.1em;}
/*~~~~~~~~~~~~~~*/
/*   NAV   */
/*~~~~~~~~~~~~~~*/
  .side-navigation{ margin-top: 6em; }
  
  .navigation-list{ margin-bottom: .4em; }
  
  .navigation-list a{
    color: var(--color-secondary);
  
    font-size: 1.6em;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: all 0.3s ease-in-out 0s; 
  }
  
  .navigation-list a:hover{
    color: #222f41;
    border-bottom: .2em solid #222f41;
  }
  /*~~~~~~~~~~~~~~*/
/*  FOOTER  */
/*~~~~~~~~~~~~~~*/
  .footer{
    margin-top: auto;
  } 