/*~~~~~~~~~~~~~~*/
/*   SIDE BAR   */
/*~~~~~~~~~~~~~~*/
.header-sidebar{
    background-color: #151B25;
    color: #738FA7;
  
    flex-basis: 20%;
    height: 100vh;
    z-index: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }
  .header-sidebar__col{ 
    height: 100vh;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
  .side-navigation{ margin-top: 7em; }
  
  .navigation-list{ margin-bottom: .4em; }
  
  .navigation-list a{
    color: #738FA7;
  
    font-size: 2em;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: all 0.3s ease-in-out 0s; 
  }
  
  .navigation-list a:hover{
    color: #C3CEDA;
    border-bottom: .2em solid #C3CEDA;
  }
  .footer{
    margin-top: auto;
  } 