/*~~~~~~~~~~~~~~*/
/*   SIDE BAR   */
/*~~~~~~~~~~~~~~*/
.header-sidebar{
    background-color:  var(--color-primary);
    color: var(--color-secondary);
  
    flex-basis: 23%;
    height: 100vh;
    z-index: 1;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0s; 
  }
  .onClick-sidebar {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  
    flex-basis: 50px;
    height: 100vh;
    z-index: 1;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0s; 
  }
  .header-sidebar__col{ 
    height: 100%;
    padding: 1em;
    justify-content: center;
    align-items: center;
  }
/*~~~~~~~~~~~~~~*/
/*   LOGO  */
/*~~~~~~~~~~~~~~*/
  .logo-box{ justify-content: center; align-content: center;
}
  
  .logo-image{ max-width: 4em; padding: .5em;}

  .header-logo__title{text-transform: uppercase; letter-spacing: .3em; word-spacing: .4em; font-size: 1.1em;}
/*~~~~~~~~~~~~~~*/
/*   NAV   */
/*~~~~~~~~~~~~~~*/
  .side-navigation{ margin-top: auto; }
  
  .navigation-list{ margin-bottom: .4em; }
  
  .navigation-list a{
    color: var(--color-secondary);
  
    font-size: 1.4em;
    text-decoration: none;
    text-transform: capitalize;
    width: 100%;
    transition: all 0.3s ease-in-out 0s; 
  }
  
  .navigation-list a:hover{
    color: #222f41;
    border-bottom: .2em solid #222f41;
  }
  /*~~~~~~~~~~~~~~*/
/*  FOOTER  */
/*~~~~~~~~~~~~~~*/
  .footer{
    margin-top: auto;
  } 
 /*~~~~~~~~~~~~~~*/
/*  HAMBURGER  */
/*~~~~~~~~~~~~~~*/
  .section-hamburger{ position: relative; }

  .hamburger__icon{
    cursor: pointer;
    width: 4em;
    animation: 9s infiniteRoate infinite linear;
    -webkit-animation: 9s infiniteRoate infinite linear;
    transition: all 0.5s ease-out 0s;

    position: fixed;
    top: 1em;
    left: 18em;
    z-index: 2;
}
  
  .hamburger__icon-click {
    cursor: pointer;
    width: 4em;
    animation: 9s infiniteRoate infinite linear;
    -webkit-animation: 9s infiniteRoate infinite linear;
    transition: all 0.5s ease-out 0s;

    position: absolute;
    top: 1em;
    left: 6.5em;
    z-index: 2;
}
  
  @keyframes infiniteRoate { 
    0% { 
      -webkit-transform: rotate(0deg);
    }
     100%{
      -webkit-transform: rotate(359deg);
     }
  }